{% extends "layout.html" %} {% block content %}
<div class="conteiner">
    <h1>Acerca</h1>
</div>
<div class="conteiner">
    <div class="bg-light p-5 rounded-lg m-3">

        Etiam et augue et metus pretium elementum eget at leo. Aenean lobortis auctor enim, eu blandit massa auctor ut. Duis viverra eros et lacinia pulvinar. Nulla at ante ipsum. Maecenas fermentum iaculis mauris sed placerat. Nam felis est, varius id gravida
        sed, mattis vitae velit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed arcu risus, ornare eu semper sit amet, lobortis vitae lacus. Cras eleifend ut felis porta volutpat.<br>


        <br>Vivamus imperdiet diam neque, at fermentum urna porta nec. Quisque id euismod turpis, vel fringilla metus. Nulla tempor tincidunt nunc, auctor vehicula libero pulvinar sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id tempor
        elit, sollicitudin ultrices ipsum. Integer ac rhoncus tellus, quis sodales lorem. Aenean pharetra sem augue, vel efficitur metus vestibulum eget. Sed mollis dolor nec mi porttitor consectetur. Mauris vehicula, ipsum sed pharetra sodales, tellus
        felis venenatis est, et elementum metus arcu at est. Suspendisse tempor lorem vitae ipsum euismod, ac molestie nisl laoreet. Maecenas purus erat, accumsan vel vehicula sit amet, tristique eu turpis. Nunc ut blandit ligula.<br>


        <br>Donec posuere sed augue ac auctor. Nullam imperdiet lectus id sem vestibulum, luctus luctus ante faucibus. Morbi vel augue nunc. Etiam non lorem faucibus, gravida nisl nec, lobortis massa. In eu condimentum lacus. Vestibulum suscipit eros
        turpis, vitae tempor augue pellentesque id. Vivamus mattis semper elit faucibus eleifend.<br>


        <br>Fusce nec rutrum lectus. Duis elit justo, interdum ut purus sit amet, eleifend sagittis ex. Donec blandit finibus dui, ac efficitur diam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer ut malesuada
        libero. Nullam varius pretium nibh ut placerat. Sed a augue interdum, posuere lectus sed, hendrerit orci. Nam dui diam, semper eu erat quis, pellentesque finibus elit. Praesent non massa nulla. Nullam sit amet gravida velit, vitae luctus mauris.<br>


        <br>Maecenas a lobortis risus, in imperdiet erat. Sed mattis interdum augue. Fusce eu eleifend orci. Suspendisse lectus elit, dictum a arcu sit amet, laoreet hendrerit nisl. Integer erat sapien, efficitur ut feugiat sed, consectetur vel ante.
        Aliquam non gravida turpis. Praesent ut mi fermentum odio semper viverra. <br>
    </div>

    {% endblock %}