{% extends "layout.html" %} {% block content %}
<title>Calculadora de Frigorias</title>

<body>

    <head>
    </head>

    <div class="conteiner">
        <div class="bg-light p-5 rounded-lg m-3">
            <DIV ALIGN=center>
                <h2>Calculadora de Frigorias</h2>
                <p>Averigua de cuantas frigorias tiene que ser el equipo que necesitas para enfriar un lugar</p>

                <body>



                    </select> Largo <input type="text" id="largo" class="form-control" name="largo" placeholder=""
                        text_align="center"><br><br> Ancho <input type="text" id="ancho" class="form-control"
                        name="ancho" placeholder=""><br><br> Altura
                    <input type="text" id="alto" class="form-control" name="alto" placeholder=""><br><br>
                    <!--<label for="cars">Seleccione en que zona del pais se encuentra (solo valido para Argentina):</label>
                    
                    <div class="conteiner">
                        <select id="empid" name="empname" option="multiple">
                            <option value="50">Zona Templada</option>
                            <option value="60">Zona Media</option>
                            <option value="75">Zona Calida</option>
                          </select>
                    </div>
                    -->

                    <br>

                    <br>
                    <button onclick="validador_previo();">Calcular</button><br><br>
                    <label id="resultado">
                    </label>
            </DIV>
        </div>
</body>

</html>
<script type="text/javascript" src="{{ url_for('static', filename='funciones.js') }}"></script>
</body>
</body>


</html>
{% endblock %}