{% extends "layout.html" %} {% block content %}
<script>
    $(function() {
        var nua = navigator.userAgent
        var isAndroid = (nua.indexOf('Mozilla/5.0') > -1 && nua.indexOf('Android ') > -1 && nua.indexOf('AppleWebKit') > -1 && nua.indexOf('Chrome') === -1)
        if (isAndroid) {
            $('select.form-control').removeClass('form-control').css('width', '100%')
        }
    })
</script>
<div class="bg-light p-5 rounded-lg m-3">
    <h1 class="display-4">Hola!</h1>
    <p class="lead">Este es una muestra de un sitio montado con Python 3, Flask, HTML, Bootstrap 5 y CSS.</p>
    <hr class="my-4">
    <p>Aquí se pueden observar distintos elementos del desarrollo..</p>

</div>
{% endblock %}