<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python WebApp</title>
    <!-- JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
    <!-- PopOver -->
    <link href="https://unpkg.com/@popperjs/core@2">
    <!-- Boostrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- Css -->
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/main.css')}} ">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>

<body>
    <div class="conteiner p-4">
        <div class="text-center">
            <a class="btn btn-secondary" href="/" role="button">Inicio</a>

            <a class="btn btn-secondary" href=" {{ url_for('acerca')}} " role="button">Acerca</a>

            <a class="btn btn-secondary" href=" {{ url_for('frigorias')}} " role="button">Frigorias</a> {% block content %} {% endblock %}
        </div>
    </div>

</body>

</html>